name: Deploy preprod to elastic Beanstalk

on:
  push:
    branches: [ "test" ]
  pull_request:
    branches: [ "test" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: action/checkout@v4
      - name: Setup Java
        uses: actions/setup-java
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Build project
        uses: mvn clean install - DskipTests
      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

          application_name: 'patrimoine-preprod-app'
          environment_name: 'patrimoine-preprod-app-env'
          version_label: ${{ github.sha }}
          region: eu-west-3
          deployment_package: PojaApplication.jar
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Maven Action
        uses: s4u/setup-maven-action@v1.13.0
        with:
          java-version: '21'
          java-distribution: 'temurin'
          maven-version: '3.9.6'

      - name: test with coverage (min -> 80%)
        run: mvn -B clean verify '-Dtest=school.hei.patrimoine.modele.**'





